<section class="category">
{% if category.title %}
    <h2><a id="{{ category.get_href }}" data-anchor-id="{{ category.get_href }}">{{ category.title }}</a></h2>
{% endif %}
{% if category.description %}
<p>{{ category.description|markdown_to_html }}</p>
{% endif %}
{% for resource in category.children %}
    {% include 'resource.twig' %}
{% endfor %}
</section>