/.idea/

# IntelliJ
/build/coverage
/build/logs
/build/phar
/build/tmp
/build/out
/build/*.phar
/tests/statics/index.*
src/Michelf/*
src/.gitignore
vendor/**
composer.lock

# JIRA plugin
atlassian-ide-plugin.xml

*.pem