parameters:
    phpVersion: 80100
    bootstrapFiles:
        - tests/test.bootstrap.inc.php
    excludePaths:
        - src/PHPDraft/Out/Version.php
        - src/PHPDraft/Parse/Tests/BaseParserTest.php
        - src/PHPDraft/Parse/Tests/DrafterTest.php
        - src/PHPDraft/Parse/Tests/DrafterAPITest.php
        - src/PHPDraft/**/Tests/*