<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="1" />
    </php>
    <testsuites>
        <testsuite name="Parse">
            <file>../src/PHPDraft/Parse/Tests/DrafterTest.php</file>
            <file>../src/PHPDraft/Parse/Tests/JsonToHTMLTest.php</file>
        </testsuite>
        <testsuite name="Model">
            <file>../src/PHPDraft/Model/Tests/CategoryTest.php</file>
            <file>../src/PHPDraft/Model/Tests/HierarchyElementTest.php</file>
            <file>../src/PHPDraft/Model/Tests/HTTPRequestTest.php</file>
            <file>../src/PHPDraft/Model/Tests/HTTPResponseTest.php</file>
            <file>../src/PHPDraft/Model/Tests/ResourceTest.php</file>
            <file>../src/PHPDraft/Model/Tests/TransitionTest.php</file>
            <file>../src/PHPDraft/Model/Elements/Tests/ObjectStructureElementTest.php</file>
            <file>../src/PHPDraft/Model/Elements/Tests/ArrayStructureElementTest.php</file>
            <file>../src/PHPDraft/Model/Elements/Tests/RequestBodyElementTest.php</file>
        </testsuite>
        <testsuite name="In">
            <file>../src/PHPDraft/In/Tests/ApibFileParserTest.php</file>
        </testsuite>
        <testsuite name="Out">
            <file>../src/PHPDraft/Out/Tests/UITest.php</file>
            <file>../src/PHPDraft/Out/Tests/TemplateGeneratorTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/PHPDraft/</directory>
            <exclude>
                <file>../src/PHPDraft/Out/Minifier.php</file>
                <directory>../src/Mitchelf</directory>
                <directory>../src/PHPDraft/Parse/Tests</directory>
                <directory>../src/PHPDraft/Model/Tests</directory>
                <directory>../src/PHPDraft/Model/Elements/Tests</directory>
                <directory>../src/PHPDraft/Out/Tests</directory>
                <directory>../src/PHPDraft/Out/HTML</directory>
                <directory>../src/PHPDraft/In/Tests</directory>
                <directory>../src/PHPDraft/Core</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="PHPDraft"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
