FORMAT: 1A
HOST: https://owner-api.teslamotors.com
EXTRA_HOSTS: https://test.owner-api.teslamotors.com
SOMETHING: INFO

# Tesla Model S JSON API
This is unofficial documentation of the Tesla Model S JSON API used by the iOS and Android apps. It features functionality to monitor and control the Model S remotely.

# Group Authentication

## Tokens [/oauth/token]

### Get an Access Token [POST]
Performs the login. Takes in an plain text email and password, matching the owner's login information for [https://my.teslamotors.com/user/login](https://my.teslamotors.com/user/login).

Returns a `access_token` which is passed along as a header with all future requests to authenticate the user.

You must provide the `Authorization: Bearer {access_token}` header in all other requests.

The current client ID and secret are [available here](http://pastebin.com/fX6ejAHd)

+ Attributes
    + grant_type: `password` (string) - The type of oAuth grant. Always "password"
    + client_id: `abc` (string) - The oAuth client ID
    + client_secret: `123` (string) - The oAuth client secret
    + email: `elon@teslamotors.com` (string) - The email for my.teslamotors.com
    + password: `edisonsux` (string) - The password for my.teslamotors.com

+ Response 204 (application/json)

# Data Structures


## Org
+ name: Apiary

## User
User of the application

### Properties
+ username: pavan
+ id: 5 (number) - Id of the user
+ address (object) - The address of the user
    + street: `Heregracht 266` - The street of the user
    + city: `Amsterdam` - The city of the user
    + zipcode (object) - zip description
        + numbers: 1234 (number) - zip numbers
        + letters: AB   (string) - zip letters
    + *variable*: trololo
+ array (array) - array description
    - 3
    - 4
    - 5
+ inline array: 1,2,3 (array) - desc
+ multilined description - some dummy text

    and it continue there
    and will end there
