var.url-param {
    font-weight: bold;
}

var.url-value {
    color: #c90c00;
    padding: 2px;
}

div.main-url {
    text-align: justify;
    line-break: loose;
    word-break: break-all;
}

button.extra-info.btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 30px;
    z-index: 999;
}

button.extra-info.btn:focus {
    border-width: 0px;
    box-shadow: none;
    outline: 0;
}

.request-card > code, .popover-content {
    word-break: break-all;
}

body .media h1.media-heading {
    margin-top: 20px;
    margin-bottom: 10px;
}

body .media h1.media-heading .form-control {
    display: flex;
    width: auto;
    float: right;
}

div.card {
    margin: 10px auto;
}

.card-title var, h4.response var {
    padding: 6px 12px;
    margin-right: 12px;
    border-radius: 3px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
}

h4.response.warning var {
    background: rgba(255, 103, 8, 0.2);
}

h4.response.error var {
    background: rgba(201, 12, 0, 0.1);
}

.card-title code {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1px 4px;
    margin-top: 2px;
    border: 1px solid transparent;
    border-radius: 3px
}

.card-title a.transition-title {
    padding: 6px 0;
}

body .col-md-10 h2:first-child,
body .col-md-10 h3:first-child {
    margin-top: 0;
}

@media (min-width: 768px) {
    .method-nav {
        max-height: 99vh;
        overflow-x: visible;
        overflow-y: scroll;
        top: 0;
        box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2) inset;
    }
}
.method-nav {
    padding: 0px 10px;
}
.method-nav nav {
    width: 100%;
}
.method-nav nav.category,
.method-nav nav.structures,
.method-nav nav.structures a.nav-link,
.method-nav nav.resource a.nav-link {
    padding-left: 0px;
}

.method-nav nav.resource .transition a.nav-link {
    padding-left: .5rem;
}


.method-nav a.nav-link {
    line-height: 26px;
}

.method-nav a.nav-link i {
    color: #fff;
    padding: 0 5px;
    box-sizing: padding-box;
    border-radius: 15px;
    line-height: 22px;
}

.main-content {
    position: relative;
}

.example-value {
    color: rgba(0, 0, 0, 0.4);
    text-align: right;
}

a.code {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.popover {
    width: auto;
    max-width: 50%;
}

.popover-content {
    width: auto;
    max-width: 100%;
    line-break: normal;
    white-space: pre-wrap;
}

.card-body {
    position: relative;
}

.curl.btn, .hurl.btn {
    z-index: 999;
    position: absolute;
    top: 15px;
}

.curl.btn {
    right: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px
}

.hurl.btn {
    right: 54px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}

body {
    --put-color: rgb(248, 148, 6);
    --post-color: rgb(98, 196, 98);
    --get-color: rgb(91, 192, 222);
    --delete-color: rgb(238, 95, 91);
    --head-color: rgb(222, 121, 91);
    --patch-color: rgb(196, 98, 196);
}

.PUT:not(.structure) > .card-header{
    background: var(--put-color);
}
span.PUT {
    color: var(--put-color);
}

.POST:not(.structure) > .card-header{
    background: var(--post-color);
}
span.POST {
    color: var(--post-color);
}

.GET:not(.structure) > .card-header{
    background: var(--get-color);
}
span.GET {
    color: var(--get-color);
}

.DELETE:not(.structure) > .card-header{
    background: var(--delete-color);
}
span.DELETE {
    color: var(--delete-color);
}

.HEAD:not(.structure) > .card-header{
    background: var(--head-color);
}
span.HEAD {
    color: var(--head-color);
}

.PATCH:not(.structure) > .card-header{
    background: var(--patch-color);
}
span.PATCH {
    color: var(--patch-color);
}