name: PHPDrafter release

on:
  release:
    types: [created, edited]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Setup PHP
      uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
      with:
        php-version: 8.2
        ini-values: assert.exception=1, phar.readonly=0, zend.assertions=1
        extensions: curl, json, phar, mbstring, gzip, bzip2, openssl
        tools: pecl, phing
        coverage: none

    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --ignore-platform-reqs

    - name: Compile phar
      run: phing phar

    - name: Shasum builds
      run: sha256sum build/out/*

    - name: Upload binary to release
      uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # 2.11.2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/out/phpdraft-${{ github.event.release.tag_name }}.phar
        asset_name: phpdraft-${{ github.event.release.tag_name }}.phar
        tag: ${{ github.event.release.tag_name }}
        overwrite: false

    - name: Upload library to release
      uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # 2.11.2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/out/phpdraft-library-${{ github.event.release.tag_name }}.phar
        asset_name: phpdraft-library-${{ github.event.release.tag_name }}.phar
        tag: ${{ github.event.release.tag_name }}
        overwrite: false
