name: PHPDrafter release

on:
  release:
    types: [created, edited]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup PHP
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
      with:
        php-version: 8.2
        ini-values: assert.exception=1, phar.readonly=0, zend.assertions=1
        extensions: curl, json, phar, mbstring, gzip, bzip2, openssl
        tools: pecl, phing
        coverage: none

    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --ignore-platform-reqs

    - name: Compile phar
      run: phing phar

    - name: Shasum builds
      run: sha256sum build/out/*

    - name: Upload binary to release
      uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/out/phpdraft-${{ github.event.release.tag_name }}.phar
        asset_name: phpdraft-${{ github.event.release.tag_name }}.phar
        tag: ${{ github.event.release.tag_name }}
        overwrite: false

    - name: Upload library to release
      uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/out/phpdraft-library-${{ github.event.release.tag_name }}.phar
        asset_name: phpdraft-library-${{ github.event.release.tag_name }}.phar
        tag: ${{ github.event.release.tag_name }}
        overwrite: false
